ol li{
    background-color: yellow;
}
ol li:nth-of-type(even){
    color: green;
}
ol li:nth-of-type(odd){
    text-transform: uppercase; 
}

li {
    font-size: 20px;
}

li em {
    font-weight: 800;
}

h1, h2, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid #000;
}

ul li:nth-of-type(-n+3) {
    color: blue;
}

.bg_pink {
    background-color: pink;
}
/* Buscar a respeito para entender */
#aliados li a[href*="stackoverflow"] {
    color: orange;
  }
  
#aliados li a[href*="w3schools"] {
    color: green;
  }
  
#aliados li a[href*="mozilla"] {
    color: black;
  }
  
#aliados li a[href*="devdocs"] {
    color: yellow;
  }
  
#aliados li a[href*="trybe"] {
    color: green;
  }