body{
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orangered;
    text-align: center;
    text-decoration: underline;
}
#list-style {
    background-color: peachpuff;
    line-height: 50px;
}
.bg {
    background-color: pink;
}
h1 {
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
#yellow{
    background-color: yellow;
}
#red {
    background-color: red;
}
#brown {
    background-color: brown;
}